
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
	background-color: #000000;
	background-image: url('');
	color: #ffffff;
	margin-left: 20%;
	margin-right: 20%;
	font-family: 'Libre Baskerville', serif
}

/* headers */
h1	{
	font-size: 50px;
	font-family: 'Arial';
	color: #f8e5ee;
	text-align: center;
}
	h1 a {
		font-size: 24px;
		color: inherit;
		text-decoration: none; 
	}

h2	{
	color: #ffffff;
}
	h2 a {
		color: inherit;
		text-decoration: none; 
	}
h3  {
	color: #ffffff;
}	
	h3 a {
		color: inherit;
		text-decoration: none;
	}

a 	{
	text-decoration: none;
	
}
	a:visited {
		color: inherit;
}

.large-space {
    word-spacing: 20px;
}

/* footers */
.footer {
	position: fixed;
	bottom: 0;
	width: 60%;
	text-align: center;
  }
